*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:sans-serif;
    text-transform: capitalize;


}

main{
    background-color: #f5f5f5;
}


nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    border-bottom: solid 1px gray;
    background-color: white;
    padding: 8px 13px 0 13px;
    margin-top: 0px;
    align-items: center;
    position: fixed;
    z-index: 1000;
}

div .left{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    
}

.logo img{
    width:40px;
    margin-top: 30px;
    cursor: pointer;
 
}

div .search-bar input{
    width: 220px;
    height: 35px;
    background: #fcfcfc;
    border-radius: 30px;
    padding: 0 10px;
    margin-left: 7px;
    position: relative;
    left: 50px;
    border: none;
    bottom: 44px;
    outline: none;
    align-items: center;
    padding-left: 35px;

}

.icon i{
    position: absolute;
    left: 80px;
    bottom: 17px;
    z-index: 50;
    align-items: center;
    opacity: 0.5

}



 .center i{ 
    margin:  0 45px ;
    font-size: 25px;
    margin-bottom: 10px;
    }

.center i:hover{
    color: #1178f2;
    cursor: pointer;
}

.fa-house{
    color: #1178f2;
}

nav .right{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.right i{
    background-color: #efefef;
    font-size: 20px;
    padding: 10px;
    border: none;
    margin: 5px;
    border-radius: 50%;
    margin-bottom: 15px;
    cursor: pointer;
}

.right i:hover{
        color: #1178f2  ;
}

.right img{
    width: 40px;
    margin-top:7px;
    border-radius: 50%;
    margin-bottom: 15px;
    padding-left: 3px;
    
  
}




.main{
    display: flex;
    background: #f5f5f5;
    margin-top: 46px;
    position: fixed;
    width:20%;
    margin-left: 5px;
    height: 95vh;
    overflow-x: hidden;
}

.main:hover{
    overflow: scroll ;
}

    div .left-side{
        font-display: flex;
        align-items: center;
        width: 35%;
        height: 100% ;
        justify-content: flex-start;
        
    }




.all-left .img{
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight:520 ;


}

.all-left .img:hover{
    background-color: #cccccc;
    cursor: pointer;
    width: 300px;
    
}

.all-left img{
    display: flex;
    width:40px;
    margin: 10px;
}


/* short cut */

.all-left h2{
    font-size: 18px;
    color: #919191;
    margin: 5px 0 0 10px ;

}

.edit{
    font-size: 16px;
    color: #1178f2;
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom:20px;
    cursor: pointer;
}

.main .shortcuts{
    display: flex;
    align-items: center;
    


}

.shortcuts img{
    border-radius: 30%;
    width: 35px;
}


.shortcuts:hover{
    background-color: #cccccc;
    cursor: pointer;
    width: 300px;
}




/******* right side******* */
.page h2{
    font-size: 18px;
    color: #919191;
    margin: 5px 0 0 10px ;
}

.right-face{
    display: flex;
    margin-top: 55px;
    position: relative;
    position: fixed;
    height: 95vh;
    overflow-y: hidden;
    left:77%;
    background: #f5f5f5;
    width: 100%;

}



.right-face:hover{
    overflow: scroll;

}

div.page_img{
    display: flex;
    align-items: center;
    margin: 0;
   
}
div.page_img:hover{
    background-color: #cccccc;
    cursor: pointer;
    width: 300px;
}

div.page_icon:hover{
    background-color: #cccccc;
    cursor: pointer;
    width: 300px;
}

.menu i{
    position: absolute;
    left: 15%;
    bottom:3px;
    align-items: center;
    
}
div.page_icon{
    margin-right: 3px;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom:40px
    
}

.second_warpper h2{
    font-size: 18px;
    color: #919191;
    padding: 10px;
}
span{
    font-weight: bold;
}
.second_warpper{
    display: flex;
    width: 100%;

}

.boxbrith{
    display: flex;
    justify-content: space-between;
}

.boxbrith img{
    width: 50px;
    display: flex;
    position: absolute;
    left: 10px;
    z-index: 50;
    margin-top: 40px;
}

.boxbrith p{
    width: 200px;
    position: absolute;
    left: 1%;
    text-align: center;
    margin-top:85px;
    font-weight: 500;
    font-size: 26;
}


.third_warpper{
    margin-top: 120px;
}

.contact_tag h2{
    font-size: 20px;
    color: #919191;
    margin: 5px 0 0 10px ;
}
.contact_tag{
    display: flex;
    justify-content: center;
align-items: center;
}

.contact_icon{
    margin-left: 50px;
    display: flex;
    align-items: center;
    margin-top: 8px;
}


 div .contact{
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.contact img{
width: 40px;
cursor: pointer;
}

.contact p{
    line-height: 22px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}


/* end right */

/* start middel */

.middle{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
   

    

}

.allstory{
    display: flex;
    justify-content: center;
    width:100%;
    margin: auto;


}

.allstory img{
    width: 150px;
    height: 250px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 1px 8px rgba(0,0,0,0.2);
    border-radius: 10px;
    cursor: pointer;
    margin-top:60px   ;
    margin-right: 10px;


}


.allstory p{
    position: relative;
    bottom:45px;
    color: white;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 1px 1px 2px black;
}

.great{
    position: absolute;
    border: soild 2px #ffffff;
    width:150px;
    height: 50px;
    background-color: #ffffff;
    z-index: 60;
    top: 5px;

}

.post-one{
    width: 52%;
    height: 28vh;
    display: flex;
    justify-content: flex-start;
    margin-left: 360px;
    position: relative;
    

}


.post{
    width: 100%;
    height: 170px;
    padding: 10px 15px;
    border-radius: 7px;
    box-shadow: 0 1px 8px rgb(0 0 0 / 20%);
    margin: 10px 0;
}

.post1{
    display: flex;
    justify-content: flex-start;
        padding-top: 20px;
        height: auto;

}
.post img{
    width: 45px;
    border-radius: 50%;
    margin-left: 50px;
    position: relative;

}


.post1 input{
    display: flex;
    position: absolute;
    width: 75%;
    height: 50px;
    padding: 10px;
    margin-left: 130px;
    border: 0;
    outline: none;
    background: #fcfcfc;
    border-radius: 30px;
    font-size: 20px;
    
 


}



.icon-post{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-top: 2px solid rgb(197, 188, 188);
    margin-top: 20px;

}
.icon-post i:hover{
    color: #1178f2;
}



.icon-post div{
   display: flex;


}



.icon-post p{
margin-left: 10px;
text-transform: capitalize; 
}
 

.icon-post i:nth-child(1){
    color: rgb(255, 77, 0);
}



.post-two{
        width: 52%;
        display: flex;
        justify-content: flex-start;
        margin-left: 360px;
        position: relative;
  
}


.great-room{
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1px 8px rgb(0 0 0 / 20%);
    width: 100%;
    padding: 3px;
    padding-left: 20px;
    border-radius: 10px;
}

.logo-room{
    display: flex;
    border: 1px solid #1178f2;
    width: 140px; 
    border-radius: 30px;
    align-items: center;
    padding: 4px;


}


.logo-room img{
    width:40px;
    height: 20px;
}

.logo-room p{
    color: #1178f2;
    padding-left: 10px;
    
}

/* end */

.photo-room img{
    width: 50px;
    margin: 10px;
    border: 3px solid #1178f2;
    border-radius: 50%;

}

.post-three{
    width: 52%;
    height: 100vh auto;
    margin-left:  360px;
    margin-top: 30px;
    position: relative;
    padding-top: 30px;
    box-shadow: 0 1px 8px rgb(0 0 0 / 20%);

}
.post-three-img{
    display: flex;
    justify-content: flex-start;
    padding-left:10px;
    align-items:flex-start;

}
.fa-ellipsis{
    padding-left:70%;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    }

    .fa-ellipsis:hover{
        color: #1178f2;
    }

.post-three-img p{
    font-size: 22px;
    font-weight: 550;
}
.post-three-img img{

    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;
    cursor: pointer;
}

.text-three{
    font-size: 14px;
    display: flex;
    position: absolute;
    left: 61px;
    top: 60px;
    color: #bebaba;
}

.the-one img{
    width: 100%;
    padding: 10px;
}

.react{
    display: flex;
    padding-left: 10px;
    align-items: center;
}

.react img{
    width: 25px;
}

.react p{
font-size: 15px;
color: #807b7b;
padding:15px;
}
.react .comments{
    padding-left: 25%;
    
}



.like {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #807b7b31;
    border-bottom:  2px solid #807b7b31;
    cursor: pointer;
}

.like div{
    display: flex;
    margin: 10px;
    align-items: center;
 
   
}


.like p{
    font-size: 20px;
    margin-left: 5px;

}
.activi{
    color: #1178f2          ;
}

.fa-message, .fa-share{
    font-size: 26px;
    color: #8b8888;
}

/* LAST */

.last{

    display: flex;
    align-items: center;
    width: 100%;
    align-items: center;
    margin-top: 15px;
}


.last img{
    width: 50px;
    border-radius: 50%;
    border: solid 1px #1178f2;
    margin-left: 15px;
    margin-bottom: 13px;
  
}

.icon-last input {
    display: flex;
    width:700px;
    height: 50px;
    padding: 10px;
    border: 0;
    outline: none;
    background: #efefef;
    border-radius: 30px;
    font-size: 20px;
    margin: 0 0 15px 15px;
    position: relative;
    align-items: center;
}

.smile{
    position: absolute;
    display: flex;
    right: 40px;
    bottom: 30px;
 
}

.smile i{
    padding-left: 5px;
    color: #807b7b95;
}